<div class="flex flex-col gap-medium">
  <%= render 'genres/editor', genre: @genre, suggestions: @suggestions,
        alias_suggestions: @alias_suggestions,
        sample_events: @sample_events, return_to: genres_path %>
</div>
