<div class="flex flex-col gap-large">
  <%= render 'admin/back', path: admin_discard_rules_path, label: t('admin.discard_rules.index.title') %>
  <h1><%= t('.title') %></h1>
  <%= render 'form' %>
</div>
