<%# Inline genre editing reached via the gear icon on a genre tag in the event
    list. Reuses the same editor as the assignment queue; on save the controller
    redirects back to where you came from. %>
<div class="flex flex-col gap-large">
  <%= render layout: "shared/page_header", locals: { back_path: root_path, back_label: t('nav.events') } do %>
    <h1><%= t('genres.edit.title') %></h1>
  <% end %>
  <%= render 'genres/editor', genre: @genre,
        alias_suggestions: @alias_suggestions,
        related_suggestions: @related_suggestions,
        sample_events: @sample_events, return_to: root_path %>
</div>
