@font-face {
  font-family: "Phosphor";
  src: url("Phosphor.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ph {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Phosphor" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ph.ph-bell:before {
  content: "\e0ce";
}
.ph.ph-calendar-dots:before {
  content: "\e7b4";
}
.ph.ph-caret-down:before {
  content: "\e136";
}
.ph.ph-caret-left:before {
  content: "\e138";
}
.ph.ph-caret-right:before {
  content: "\e13a";
}
.ph.ph-check-circle:before {
  content: "\e184";
}
.ph.ph-cookie:before {
  content: "\e6ca";
}
.ph.ph-device-mobile:before {
  content: "\e1e0";
}
.ph.ph-download-simple:before {
  content: "\e20c";
}
.ph.ph-flag:before {
  content: "\e244";
}
.ph.ph-funnel:before {
  content: "\e266";
}
.ph.ph-gear:before {
  content: "\e270";
}
.ph.ph-heart:before {
  content: "\e2a8";
}
.ph.ph-house:before {
  content: "\e2c2";
}
.ph.ph-lightning:before {
  content: "\e2de";
}
.ph.ph-magnifying-glass:before {
  content: "\e30c";
}
.ph.ph-map-pin:before {
  content: "\e316";
}
.ph.ph-map-trifold:before {
  content: "\e31a";
}
.ph.ph-moon:before {
  content: "\e330";
}
.ph.ph-music-notes:before {
  content: "\e340";
}
.ph.ph-sun:before {
  content: "\e472";
}
.ph.ph-tag:before {
  content: "\e478";
}
.ph.ph-trash:before {
  content: "\e4a6";
}
.ph.ph-wrench:before {
  content: "\e5d4";
}
.ph.ph-x:before {
  content: "\e4f6";
}
